<div #carousel id="carousel" class="carousel slide" data-ride="carousel" style="width:100%;">
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="carousel-inner">
                <div *ngFor="let item of items let i=index" *ngForTemplate="itemTemplate" *ngForTrackBy="eventTrackBy">
                </div>
                <a class="left fade-left">
                 </a>
                 <a class="right fade-right">
                 </a>
            </div>
        </div>
    </div>
    
    <a class="left carousel-custom-control button" href="#carousel" role="button" data-slide="prev">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-custom-control button" href="#carousel" role="button" data-slide="next">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <span class="sr-only">Next</span>
    </a>
</div>