<div class="container text-center">
    <div class="row">
        <h1>May 14</h1>
    </div>
    <div class="row vertical-align" style="margin-top:50px;">
        <carousel [items]="allEvents">
            <div template="let item let i=index"  class="item" [class.active]="i==0">
            <div class="carousel-content">
                    <div>
                        <p>{{ item.text }}</p>
                        <h2>{{ item.year }}</h2>
                    </div>
                </div>
            </div>
        </carousel>
    </div>
</div>