html,body{
    height: 100%;
}

.background {
    background-color: #F7F0CD;
    color: #535353;
    transition: background-color 500ms, color 500ms;
}

div.background {
    height: 100%;
}

.background h1 {
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 72px;
    transition: font-size 500ms;
}

.background h2 {
    font-family: 'Vollkorn', serif;
    font-size: 36px;
    transition: font-size 500ms;
}

.background p {
    font-family: 'Vollkorn', serif;
    font-size: 24px;
    transition: font-size 500ms;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex; 
    align-items : center;
    width: 100%;
    justify-content : center;
}


a.button, a.button:link, a.button:visited, a.button:active {
    color: #535353;
    font-family: 'Vollkorn', serif;
    font-size: 48px;
    cursor: pointer;
    transition: color 250ms, font-size 500ms;
}

a.button:hover {
    color: #484886;
}

a.link {
    text-decoration: underline;
}

.carousel-custom-control > i {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -24px;
}

.carousel-custom-control > .fa-chevron-right {
   right: 50%;
}


footer {
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
    margin-bottom: 25px;
}

.share {
    font-size: 48px;
    transition: font-size 500ms;
    color: white;
    text-shadow: 0px 1px 4px #afab94;
}

.share a:link, .share a:visited, .share a:active {
    color: white;
    transition: color 250ms;
}

.share a:hover {
    color: #FFFDE0;
}

.navigation {
    font-size: 48px;
}

header {
    width:100%;
    position: absolute;
    left: 0;
    top: 0; 
    margin-top: 25px;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.borders {
    border-style: solid;
    border-width: 5px;
    max-width: 250px;
    max-height: 250px;
}

.carousel-content {
    display:flex;
    align-items:center;
    height: 25vh;
    transition: height 500ms;
}

.carousel-content > div {
    width: 100%;
}

.carousel-custom-control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15%;
}

.left.carousel-custom-control {
    left: 0;
}

.right.carousel-custom-control {
    right: 0;
}

.fade-left {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5%;
    background-image: linear-gradient(to left, rgba(0,0,0,.0001) 0%, #F7F0CD 100%);
}

.fade-right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 5%;
    background-image: linear-gradient(to right, rgba(0,0,0,.0001) 0%, #F7F0CD 100%);
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    font-size: 72px;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

carousel {
    width:100%;
}

/*-----------------Green-------------------*/

.green {
    background-color: #1FA67A;
    color: white;
}

.green a.button, .green a.button:link, .green a.button:visited, .green a.button:active {
    color: white;
}

.green a.button:hover {
    color: #bff3e2;
}

.green .share a:hover {
    color: #bff3e2;
}

.green .share {
    text-shadow: 0px 1px 4px #076748;
}

.green .fade-left {
    background-image: linear-gradient(to left, rgba(0,0,0,.0001) 0%, #1FA67A 100%);
}

.green .fade-right {
    background-image: linear-gradient(to right, rgba(0,0,0,.0001) 0%, #1FA67A 100%);
}

/*-----------------Green-------------------*/

.grey {
    background-color: #646258;
    color: white;
}

.grey a.button:link, .grey a.button:visited, .grey a.button:active {
    color: white;
}

.grey a.button:hover {
    color: #dcdbd4;
}

.grey .share a:hover {
    color: #dcdbd4;
}

.grey .share {
    text-shadow: 0px 1px 4px #302f2a;
}

.grey .borders {
    color: #45433C;
}

.grey .fade-left {
    background-image: linear-gradient(to left, rgba(0,0,0,.0001) 0%, #45433C 100%);
}

.grey .fade-right {
    background-image: linear-gradient(to right, rgba(0,0,0,.0001) 0%, #45433C 100%);
}

/*-----------------Media-------------------*/

@media (max-width: 768px) {
    .carousel-content {
        height: 50vh;
    }
    
    .background h1 {
        font-size: 52px;
    }

    .background h2 {
        font-size: 32px;
    }
        
    .share {
        font-size: 32px;
    }
    
    a.button {
        font-size: 32px;
    }
}

@media (min-width: 1920px) {
    .carousel-content {
        height: 40vh;
    }
    
    .background h1 {
        font-size: 86px;
    }

    .background h2 {
        font-size: 60px;
    }
        
    .share {
        font-size: 72px;
    }
    
    a.button {
        font-size: 62px;
    }
    
    .background p {
        font-size: 32px;
    }
}